docs/n8n/impact-governance-single-flow.json
{
  "name": "FastRoute Impact + Governance (LLM Only)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "FastRoute - Impact Gate",
        "formDescription": "Executa analise de impacto com LLM e aguarda sua decisao para disparar governanca.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Qual problema ou oportunidade essa alteracao resolve?",
              "fieldType": "textarea",
              "placeholder": "reduzir falhas de sync em areas sem sinal"
            },
            {
              "fieldLabel": "Descreva a mudanca como voce espera ver no produto",
              "fieldType": "textarea",
              "placeholder": "Quero que o motorista possa concluir waypoint offline com foto e sincronizar automaticamente ao reconectar."
            },
            {
              "fieldLabel": "Quais evidencias comprovam que a entrega esta pronta?",
              "fieldType": "textarea",
              "placeholder": "Cenario 1... - Cenario 2... - metricas esperadas..."
            },
            {
              "fieldLabel": "Restricoes: limites de prazo, compliance, integracoes proibidas, etc.",
              "fieldType": "textarea"
            },
            {
              "fieldLabel": "Deploy API apos aprovacao?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "nao"
                  },
                  {
                    "option": "sim"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {},
        "responseMode": "lastNode"
      },
      "id": "form-trigger",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1700,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\n\nconst normalize = (value) =>\n  String(value || '')\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .trim();\n\nconst getByHint = (hints, fallback = '') => {\n  const entries = Object.entries(input);\n  for (const hint of hints) {\n    const h = normalize(hint);\n    const found = entries.find(([k, v]) => normalize(k).includes(h) && v !== undefined && v !== null && String(v).trim() !== '');\n    if (found) return String(found[1]).trim();\n  }\n  return fallback;\n};\n\nconst problem = getByHint(['problema ou oportunidade', 'problema'], 'Nao informado');\nconst expectedChange = getByHint(['mudanca como voce espera ver no produto', 'mudanca esperada', 'espera ver no produto'], 'Nao informado');\nconst evidence = getByHint(['evidencias comprovam que a entrega esta pronta', 'evidencias', 'entrega pronta'], 'Nao informado');\nconst constraints = getByHint(['restricoes', 'compliance', 'integracoes proibidas', 'limites de prazo'], 'Nenhuma restricao informada');\nconst deployChoice = getByHint(['deploy api apos aprovacao'], 'nao').toLowerCase();\n\nconst owner = 'oliversoft-tech';\nconst repo = 'fastroute-changemanagement';\n\nconst githubToken = 'COLE_SEU_GITHUB_TOKEN_AQUI';\nconst llmModel = 'gpt-4o-mini';\n\nconst skillFastRoute = [\n  'SKILL_FASTROUTE',\n  '1) Produto com 3 repositorios: fastroute-domain, fastroute-api, fastroute-mobile-hybrid.',\n  '2) fastroute-domain contem regras de negocio compartilhadas (validacoes, invariantes, FSM).',\n  '3) fastroute-api (Node.js) faz persistencia, autorizacao, reconciliacao e conflito.',\n  '4) fastroute-mobile-hybrid e offline-first e consome API + domain.',\n  '5) Infra atual: VPS + Docker Compose + Nginx + Cloudflare Full Strict + GHCR.',\n  '6) API via Nginx e health /health, porta interna 3002.',\n  '7) N8N + Supabase existem no contexto operacional; clustering depende de lat/long validos.',\n  '8) Mudanca de regra compartilhada tende a impactar domain + api + mobile.',\n  '9) Evitar complexidade desnecessaria; manter arquitetura simples quando possivel.',\n  '10) Sempre propor testes por repositorio e gates de regressao.'\n].join('\\n');\n\nconst systemPrompt = [\n  'Voce e arquiteto de change management do FastRoute.',\n  'Use obrigatoriamente a SKILL_FASTROUTE abaixo para analisar impacto e viabilidade.',\n  '',\n  skillFastRoute,\n  '',\n  'Retorne SOMENTE JSON valido (sem markdown) com este formato:',\n  '{',\n  '  resumo: string,',\n  '  impactos: {',\n  '    fastroute-domain: { impacto: boolean, mudancas: string[], testes: string[] },',\n  '    fastroute-api: { impacto: boolean, mudancas: string[], testes: string[] },',\n  '    fastroute-mobile-hybrid: { impacto: boolean, mudancas: string[], testes: string[] },',\n  '    infra: { impacto: boolean, itens: string[] },',\n  '    integracoes_externas: { impacto: boolean, itens: string[] }',\n  '  },',\n  '  viabilidade: { nivel: Alta|Media|Baixa, justificativa: string },',\n  '  criterios_aceite_mapeados: [{ criterio: string, repos: string[], teste_sugerido: string }],',\n  '  riscos: string[],',\n  '  duvidas: string[]',\n  '}'\n].join('\\n');\n\nconst userPrompt = [\n  'Problema/Oportunidade:',\n  problem,\n  '',\n  'Mudanca esperada no produto:',\n  expectedChange,\n  '',\n  'Evidencias de pronto:',\n  evidence,\n  '',\n  'Restricoes:',\n  constraints\n].join('\\n');\n\nreturn [{\n  owner,\n  repo,\n  github_token: githubToken,\n  llm_model: llmModel,\n  system_prompt: systemPrompt,\n  user_prompt: userPrompt,\n  deploy_api: deployChoice === 'sim',\n  domain_ref: 'main',\n  api_ref: 'main',\n  mobile_ref: 'main',\n  mobile_profile: 'preview'\n}];\n"
      },
      "id": "normalize",
      "name": "Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1450,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $item(0).$node['Normalize'].json;\nconst raw =\n  $json?.text ||\n  $json?.response?.text ||\n  $json?.choices?.[0]?.message?.content ||\n  '';\n\nconst fallbackAnalysis = {\n  resumo: 'LLM nao retornou conteudo estruturado.',\n  viabilidade: { nivel: 'Media', justificativa: 'Resposta vazia do modelo.' },\n  impactos: {},\n  criterios_aceite_mapeados: [],\n  riscos: ['Sem resposta valida do LLM'],\n  duvidas: ['Reexecutar analise']\n};\n\nif (!raw || typeof raw !== 'string') {\n  return [{\n    ...base,\n    analysis: fallbackAnalysis,\n    analysis_raw: {},\n    llm_raw_text: ''\n  }];\n}\n\nlet parsed;\nlet cleaned = raw;\ntry {\n  parsed = JSON.parse(raw);\n} catch (error) {\n  const fence = '```';\n  cleaned = raw\n    .replace(`${fence}json`, '')\n    .replaceAll(fence, '')\n    .trim();\n\n  try {\n    parsed = JSON.parse(cleaned);\n  } catch (_error) {\n    parsed = {\n      resumo: cleaned.slice(0, 6000) || 'Resposta nao-JSON do LLM.',\n      viabilidade: { nivel: 'Media', justificativa: 'Modelo nao retornou JSON valido.' },\n      impactos: {},\n      criterios_aceite_mapeados: [],\n      riscos: ['Falha ao parsear JSON do LLM'],\n      duvidas: ['Ajustar prompt para resposta JSON estrita']\n    };\n  }\n}\n\nconst first = (...values) => values.find((v) => v !== undefined && v !== null);\nconst asArray = (value) => {\n  if (Array.isArray(value)) return value;\n  if (value === undefined || value === null || value === '') return [];\n  return [value];\n};\nconst asObject = (value) => (value && typeof value === 'object' && !Array.isArray(value) ? value : {});\n\nconst normalized = {\n  resumo: first(parsed?.resumo, parsed?.summary, parsed?.executive_summary, parsed?.overview, ''),\n  viabilidade: asObject(first(parsed?.viabilidade, parsed?.viability, parsed?.feasibility, {})),\n  impactos: asObject(first(parsed?.impactos, parsed?.impacts, parsed?.impact, {})),\n  criterios_aceite_mapeados: asArray(\n    first(\n      parsed?.criterios_aceite_mapeados,\n      parsed?.acceptance_criteria_mapped,\n      parsed?.mapped_acceptance_criteria,\n      parsed?.acceptanceCriteriaMapped,\n      []\n    )\n  ),\n  riscos: asArray(first(parsed?.riscos, parsed?.risks, parsed?.main_risks, [])),\n  duvidas: asArray(first(parsed?.duvidas, parsed?.questions, parsed?.open_questions, parsed?.openQuestions, []))\n};\n\nif (!normalized.resumo && Object.keys(asObject(parsed)).length > 0) {\n  normalized.resumo = 'Analise recebida do LLM (estrutura fora do padrao esperado).';\n}\n\nreturn [{\n  ...base,\n  analysis: normalized,\n  analysis_raw: asObject(parsed),\n  llm_raw_text: cleaned\n}];\n"
      },
      "id": "parse-llm",
      "name": "Parse LLM JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -930,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "const a = $json.analysis || {};\n\nconst analysisPayload = {\n  resumo: a.resumo || '',\n  viabilidade: a.viabilidade || {},\n  impactos: a.impactos || {},\n  criterios_aceite_mapeados: a.criterios_aceite_mapeados || [],\n  riscos: a.riscos || [],\n  duvidas: a.duvidas || []\n};\n\nconst analysisB64 = Buffer.from(JSON.stringify(analysisPayload), 'utf8').toString('base64');\n\nconst params = {\n  owner: $json.owner,\n  repo: $json.repo,\n  token: $json.github_token,\n  deploy_api: String($json.deploy_api),\n  domain_ref: $json.domain_ref,\n  api_ref: $json.api_ref,\n  mobile_ref: $json.mobile_ref,\n  mobile_profile: $json.mobile_profile,\n  analysis_b64: analysisB64\n};\n\nconst q = Object.entries(params)\n  .map(([k, v]) => `${encodeURIComponent(k)}=${encodeURIComponent(String(v ?? ''))}`)\n  .join('&');\n\nconst implementUrl = `http://localhost:5678/webhook/fastroute-impact-decision?${q}`;\n\nreturn [{\n  analysis: a,\n  analysis_raw: $json.analysis_raw || {},\n  llm_raw_text: $json.llm_raw_text || '',\n  implement_url: implementUrl,\n  aprovar_url: implementUrl,\n  analysis_b64: analysisB64,\n  mensagem: 'Analise LLM concluida. Clique em Implementar changes para disparar o Governance.'\n}];\n"
      },
      "id": "build-links",
      "name": "Build Decision Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -670,
        60
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "fastroute-impact-decision",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "decision-webhook",
      "name": "Decision Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1700,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "const q = $json.query || {};\n\nlet impactAnalysis = {};\nif (q.analysis_b64) {\n  try {\n    const decoded = Buffer.from(String(q.analysis_b64), 'base64').toString('utf8');\n    impactAnalysis = JSON.parse(decoded);\n  } catch (_error) {\n    impactAnalysis = {\n      parse_error: true,\n      observacao: 'Falha ao decodificar analysis_b64 no Decision Webhook.'\n    };\n  }\n}\n\nreturn [{\n  approved: true,\n  owner: q.owner || 'oliversoft-tech',\n  repo: q.repo || 'fastroute-changemanagement',\n  github_token: q.token || '',\n  deploy_api: String(q.deploy_api || 'false').toLowerCase() === 'true',\n  domain_ref: q.domain_ref || 'main',\n  api_ref: q.api_ref || 'main',\n  mobile_ref: q.mobile_ref || 'main',\n  mobile_profile: q.mobile_profile || 'preview',\n  impact_analysis: impactAnalysis\n}];\n"
      },
      "id": "parse-decision",
      "name": "Parse Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1450,
        440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.approved}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "approved-if",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1190,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{$json.owner}}/{{$json.repo}}/dispatches",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$json.github_token}}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"event_type\":\"governance-release\",\"client_payload\":{\"domain_ref\":$json.domain_ref,\"api_ref\":$json.api_ref,\"mobile_ref\":$json.mobile_ref,\"mobile_profile\":$json.mobile_profile,\"run_release\":true,\"deploy_api\":$json.deploy_api,\"impact_analysis\":$json.impact_analysis}}",
        "options": {}
      },
      "id": "dispatch-governance",
      "name": "Dispatch Governance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -930,
        340
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "approved"
            },
            {
              "name": "message",
              "value": "Governance Orchestrator disparado com sucesso."
            }
          ]
        },
        "options": {}
      },
      "id": "approved-response",
      "name": "Approved Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -670,
        340
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "rejected"
            },
            {
              "name": "message",
              "value": "Alteracao rejeitada. Governance Orchestrator nao foi disparado."
            }
          ]
        },
        "options": {}
      },
      "id": "rejected-response",
      "name": "Rejected Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -930,
        560
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "respond-decision",
      "name": "Respond Decision",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -410,
        440
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.user_prompt}}",
        "hasOutputParser": false,
        "messages": {
          "messageValues": [
            {
              "message": "={{$json.system_prompt}}"
            }
          ]
        },
        "batching": {}
      },
      "id": "basic-llm-chain",
      "name": "Basic LLM Chain (FastRoute Skill)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -1190,
        60
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "id": "openai-chat-model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1210,
        260
      ]
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "showText",
        "responseText": "={{$json.form_html}}",
        "options": {
          "formTitle": "FastRoute - Impact Analysis Result"
        }
      },
      "id": "show-analysis-form",
      "name": "Show Analysis On Form",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        -420,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "const a = $json.analysis || {};\nconst rawObj = $json.analysis_raw || {};\nconst rawTxt = String($json.llm_raw_text || '');\nconst implementUrl = $json.implement_url || $json.aprovar_url || '';\n\nconst esc = (v) => String(v ?? '')\n  .replaceAll('&', '&amp;')\n  .replaceAll('<', '&lt;')\n  .replaceAll('>', '&gt;');\n\nconst toArray = (v) => {\n  if (Array.isArray(v)) return v;\n  if (v === undefined || v === null || v === '') return [];\n  return [v];\n};\n\nconst summary = esc(a.resumo || 'Sem resumo');\nconst viability = a.viabilidade || {};\nconst viabilityLevel = esc(viability.nivel || viability.level || 'Nao informado');\nconst viabilityReason = esc(viability.justificativa || viability.reason || 'Nao informado');\n\nconst impactSections = Object.entries(a.impactos || {}).map(([area, info]) => {\n  const d = info && typeof info === 'object' ? info : {};\n  const impactFlag = d.impacto === true || d.impact === true ? 'Sim' : 'Nao';\n  const changes = toArray(d.mudancas || d.changes || d.itens || d.items);\n  const tests = toArray(d.testes || d.tests);\n\n  const changesHtml = changes.length\n    ? `<ul>${changes.map((x) => `<li>${esc(x)}</li>`).join('')}</ul>`\n    : '<p>Sem mudancas detalhadas.</p>';\n\n  const testsHtml = tests.length\n    ? `<ul>${tests.map((x) => `<li>${esc(x)}</li>`).join('')}</ul>`\n    : '<p>Sem testes sugeridos.</p>';\n\n  return [\n    `<h4>${esc(area)}</h4>`,\n    `<p><strong>Impacto:</strong> ${impactFlag}</p>`,\n    '<p><strong>Mudancas:</strong></p>',\n    changesHtml,\n    '<p><strong>Testes:</strong></p>',\n    testsHtml\n  ].join('');\n}).join('');\n\nconst criteria = toArray(a.criterios_aceite_mapeados || a.acceptance_criteria_mapped);\nconst criteriaHtml = criteria.length\n  ? `<ol>${criteria.map((c) => {\n      if (c && typeof c === 'object') {\n        const criterio = esc(c.criterio || c.criterion || 'Criterio sem descricao');\n        const repos = toArray(c.repos || c.repositories).map(esc).join(', ') || 'Nao informado';\n        const teste = esc(c.teste_sugerido || c.suggested_test || 'Nao informado');\n        return `<li><p><strong>${criterio}</strong></p><p>Repos: ${repos}</p><p>Teste: ${teste}</p></li>`;\n      }\n      return `<li>${esc(c)}</li>`;\n    }).join('')}</ol>`\n  : '<p>Sem criterios mapeados.</p>';\n\nconst risks = toArray(a.riscos || a.risks);\nconst risksHtml = risks.length\n  ? `<ul>${risks.map((x) => `<li>${esc(x)}</li>`).join('')}</ul>`\n  : '<p>Sem riscos listados.</p>';\n\nconst questions = toArray(a.duvidas || a.questions || a.open_questions);\nconst questionsHtml = questions.length\n  ? `<ul>${questions.map((x) => `<li>${esc(x)}</li>`).join('')}</ul>`\n  : '<p>Sem duvidas abertas.</p>';\n\nconst rawJson = esc(JSON.stringify(rawObj || {}, null, 2));\nconst rawText = esc(rawTxt.slice(0, 8000));\n\nconst formHtml = [\n  '<h2>Analise de Impacto (LLM)</h2>',\n  `<p><strong>Resumo:</strong> ${summary}</p>`,\n  '<h3>Viabilidade</h3>',\n  `<p><strong>Nivel:</strong> ${viabilityLevel}</p>`,\n  `<p><strong>Justificativa:</strong> ${viabilityReason}</p>`,\n  '<h3>Impactos por area</h3>',\n  impactSections || '<p>Sem impactos detalhados.</p>',\n  '<h3>Criterios de aceite mapeados</h3>',\n  criteriaHtml,\n  '<h3>Riscos</h3>',\n  risksHtml,\n  '<h3>Duvidas</h3>',\n  questionsHtml,\n  '<details><summary>Debug: JSON bruto do LLM</summary>',\n  `<pre>${rawJson}</pre>`,\n  '</details>',\n  '<details><summary>Debug: texto bruto do LLM</summary>',\n  `<pre>${rawText}</pre>`,\n  '</details>',\n  '<hr/>',\n  '<h3>Acao</h3>',\n  implementUrl\n    ? `<p><a href=\"${implementUrl}\" target=\"_blank\" rel=\"noopener noreferrer\">Implementar changes (disparar Governance)</a></p>`\n    : '<p>URL de implementacao nao disponivel.</p>'\n].join('');\n\nreturn [{\n  ...$json,\n  form_html: formHtml\n}];\n"
      },
      "id": "format-analysis-html",
      "name": "Format Analysis HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        60
      ]
    }
  ],
  "connections": {
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Basic LLM Chain (FastRoute Skill)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain (FastRoute Skill)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain (FastRoute Skill)": {
      "main": [
        [
          {
            "node": "Parse LLM JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM JSON": {
      "main": [
        [
          {
            "node": "Build Decision Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decision Webhook": {
      "main": [
        [
          {
            "node": "Parse Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Decision": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Dispatch Governance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rejected Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Governance": {
      "main": [
        [
          {
            "node": "Approved Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved Response": {
      "main": [
        [
          {
            "node": "Respond Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rejected Response": {
      "main": [
        [
          {
            "node": "Respond Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Decision Links": {
      "main": [
        [
          {
            "node": "Format Analysis HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Analysis HTML": {
      "main": [
        [
          {
            "node": "Show Analysis On Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "versionId": "llm-only-v1"
}
