docs/n8n/impact-governance-single-flow.json
{
  "name": "FastRoute Impact + Governance (LLM Only)",
  "nodes": [
    {
      "parameters": {
        "formTitle": "FastRoute - Impact Gate",
        "formDescription": "Executa analise de impacto com LLM e aguarda sua decisao para disparar governanca.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Qual problema ou oportunidade essa alteracao resolve?",
              "fieldType": "textarea",
              "placeholder": "reduzir falhas de sync em areas sem sinal"
            },
            {
              "fieldLabel": "Descreva a mudanca como voce espera ver no produto",
              "fieldType": "textarea",
              "placeholder": "Quero que o motorista possa concluir waypoint offline com foto e sincronizar automaticamente ao reconectar."
            },
            {
              "fieldLabel": "Quais evidencias comprovam que a entrega esta pronta?",
              "fieldType": "textarea",
              "placeholder": "Cenario 1... - Cenario 2... - metricas esperadas..."
            },
            {
              "fieldLabel": "Restricoes: limites de prazo, compliance, integracoes proibidas, etc.",
              "fieldType": "textarea"
            },
            {
              "fieldLabel": "Deploy API apos aprovacao?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "nao"
                  },
                  {
                    "option": "sim"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {},
        "responseMode": "lastNode"
      },
      "id": "form-trigger",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1700,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $json;\n\nconst normalize = (value) =>\n  String(value || '')\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .trim();\n\nconst getByHint = (hints, fallback = '') => {\n  const entries = Object.entries(input);\n  for (const hint of hints) {\n    const h = normalize(hint);\n    const found = entries.find(([k, v]) => normalize(k).includes(h) && v !== undefined && v !== null && String(v).trim() !== '');\n    if (found) return String(found[1]).trim();\n  }\n  return fallback;\n};\n\nconst problem = getByHint(['problema ou oportunidade', 'problema'], 'Nao informado');\nconst expectedChange = getByHint(['mudanca como voce espera ver no produto', 'mudanca esperada', 'espera ver no produto'], 'Nao informado');\nconst evidence = getByHint(['evidencias comprovam que a entrega esta pronta', 'evidencias', 'entrega pronta'], 'Nao informado');\nconst constraints = getByHint(['restricoes', 'compliance', 'integracoes proibidas', 'limites de prazo'], 'Nenhuma restricao informada');\nconst deployChoice = getByHint(['deploy api apos aprovacao'], 'nao').toLowerCase();\n\nconst owner = 'oliversoft-tech';\nconst repo = 'fastroute-changemanagement';\n\nconst githubToken = 'COLE_SEU_GITHUB_TOKEN_AQUI';\nconst llmModel = 'gpt-4o-mini';\n\nconst skillFastRoute = [\n  'SKILL_FASTROUTE',\n  '1) Produto com 3 repositorios: fastroute-domain, fastroute-api, fastroute-mobile-hybrid.',\n  '2) fastroute-domain contem regras de negocio compartilhadas (validacoes, invariantes, FSM).',\n  '3) fastroute-api (Node.js) faz persistencia, autorizacao, reconciliacao e conflito.',\n  '4) fastroute-mobile-hybrid e offline-first e consome API + domain.',\n  '5) Infra atual: VPS + Docker Compose + Nginx + Cloudflare Full Strict + GHCR.',\n  '6) API via Nginx e health /health, porta interna 3002.',\n  '7) N8N + Supabase existem no contexto operacional; clustering depende de lat/long validos.',\n  '8) Mudanca de regra compartilhada tende a impactar domain + api + mobile.',\n  '9) Evitar complexidade desnecessaria; manter arquitetura simples quando possivel.',\n  '10) Sempre propor testes por repositorio e gates de regressao.'\n].join('\\n');\n\nconst systemPrompt = [\n  'Voce e arquiteto de change management do FastRoute.',\n  'Use obrigatoriamente a SKILL_FASTROUTE abaixo para analisar impacto e viabilidade.',\n  '',\n  skillFastRoute,\n  '',\n  'Retorne SOMENTE JSON valido (sem markdown) com este formato:',\n  '{',\n  '  resumo: string,',\n  '  viabilidade: { nivel: Alta|Media|Baixa, justificativa: string },',\n  '  impactos: {',\n  '    \"fastroute-domain\": {',\n  '      impacto: boolean,',\n  '      mudancas: [{ descricao: string, testes: string[], criterios_aceite: string[] }],',\n  '      riscos: string[],',\n  '      duvidas: string[]',\n  '    },',\n  '    \"fastroute-api\": {',\n  '      impacto: boolean,',\n  '      mudancas: [{ descricao: string, testes: string[], criterios_aceite: string[] }],',\n  '      riscos: string[],',\n  '      duvidas: string[]',\n  '    },',\n  '    \"fastroute-mobile-hybrid\": {',\n  '      impacto: boolean,',\n  '      mudancas: [{ descricao: string, testes: string[], criterios_aceite: string[] }],',\n  '      riscos: string[],',\n  '      duvidas: string[]',\n  '    },',\n  '    infra: { impacto: boolean, itens: string[] },',\n  '    integracoes_externas: { impacto: boolean, itens: string[] }',\n  '  }',\n  '}',\n  '',\n  'Regras obrigatorias:',\n  '1) Use exatamente as chaves: resumo, viabilidade, impactos, impacto, mudancas, descricao, testes, criterios_aceite, riscos, duvidas.',\n  '2) Se um repositorio nao tiver impacto, retorne impacto=false e mudancas/riscos/duvidas vazios.',\n  '3) Cada item de mudancas deve conter testes como passos executaveis de validacao (test_steps).',\n  '4) Nao inclua texto fora do JSON.',\n  '5) Campos de teste (testes/test_steps/teste_sugerido) DEVEM ser descricoes completas em linguagem natural (frases claras, com contexto de comportamento esperado).',\n  '6) Nao use nomes tecnicos curtos, codigos, snake_case ou ids de teste como: test_fsm_transicao_planejado_para_aguardando_confirmacao.',\n  '7) Exemplo correto: \"Validar que a entrega muda de Planejado para Aguardando confirmacao quando o SMS D-1 e enviado com sucesso.\"'\n].join('\\n');\n\nconst userPrompt = [\n  'Problema/Oportunidade:',\n  problem,\n  '',\n  'Mudanca esperada no produto:',\n  expectedChange,\n  '',\n  'Evidencias de pronto:',\n  evidence,\n  '',\n  'Restricoes:',\n  constraints\n].join('\\n');\n\nreturn [{\n  owner,\n  repo,\n  github_token: githubToken,\n  llm_model: llmModel,\n  system_prompt: systemPrompt,\n  user_prompt: userPrompt,\n  deploy_api: deployChoice === 'sim',\n  domain_ref: 'main',\n  api_ref: 'main',\n  mobile_ref: 'main',\n  mobile_profile: 'preview'\n}];\n"
      },
      "id": "normalize",
      "name": "Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1450,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $item(0).$node['Normalize'].json;\nconst raw =\n  $json?.text ||\n  $json?.response?.text ||\n  $json?.choices?.[0]?.message?.content ||\n  '';\n\nconst fallbackAnalysis = {\n  resumo: 'LLM nao retornou conteudo estruturado.',\n  viabilidade: { nivel: 'Media', justificativa: 'Resposta vazia do modelo.' },\n  impactos: {},\n  criterios_aceite_mapeados: [],\n  riscos: ['Sem resposta valida do LLM'],\n  duvidas: ['Reexecutar analise']\n};\n\nif (!raw || typeof raw !== 'string') {\n  return [{\n    ...base,\n    analysis: fallbackAnalysis,\n    analysis_raw: {},\n    llm_raw_text: ''\n  }];\n}\n\nlet parsed;\nlet cleaned = raw;\ntry {\n  parsed = JSON.parse(raw);\n} catch (error) {\n  const fence = '```';\n  cleaned = raw\n    .replace(fence + 'json', '')\n    .replaceAll(fence, '')\n    .trim();\n\n  try {\n    parsed = JSON.parse(cleaned);\n  } catch (_error) {\n    parsed = {\n      resumo: cleaned.slice(0, 6000) || 'Resposta nao-JSON do LLM.',\n      viabilidade: { nivel: 'Media', justificativa: 'Modelo nao retornou JSON valido.' },\n      impactos: {},\n      criterios_aceite_mapeados: [],\n      riscos: ['Falha ao parsear JSON do LLM'],\n      duvidas: ['Ajustar prompt para resposta JSON estrita']\n    };\n  }\n}\n\nconst first = (...values) => values.find((v) => v !== undefined && v !== null);\nconst asArray = (value) => {\n  if (Array.isArray(value)) return value;\n  if (value === undefined || value === null || value === '') return [];\n  return [value];\n};\nconst asObject = (value) => (value && typeof value === 'object' && !Array.isArray(value) ? value : {});\n\nconst normalizeChange = (change) => {\n  if (typeof change === 'string') {\n    return {\n      descricao: change,\n      testes: [],\n      criterios_aceite: []\n    };\n  }\n\n  const c = asObject(change);\n  return {\n    descricao: String(first(c.descricao, c.desc, c.description, '') || ''),\n    testes: asArray(first(c.testes, c.tests, c.test_steps, [])).map((x) => String(x || '').trim()).filter(Boolean),\n    criterios_aceite: asArray(first(c.criterios_aceite, c.acceptance_criterias, c.acceptance_criteria, [])).map((x) => String(x || '').trim()).filter(Boolean)\n  };\n};\n\nconst normalizeImpactRepo = (repoImpact) => {\n  const i = asObject(repoImpact);\n  return {\n    impacto: i.impacto === true || i.has_impact === true || i.impact === true,\n    mudancas: asArray(first(i.mudancas, i.changes, [])).map(normalizeChange),\n    riscos: asArray(first(i.riscos, i.risks, [])).map((x) => String(x || '').trim()).filter(Boolean),\n    duvidas: asArray(first(i.duvidas, i.doubts, i.questions, [])).map((x) => String(x || '').trim()).filter(Boolean),\n    itens: asArray(first(i.itens, i.items, [])).map((x) => String(x || '').trim()).filter(Boolean)\n  };\n};\n\nconst rawImpacts = asObject(first(parsed?.impactos, parsed?.impacts, parsed?.impact, {}));\nconst impacts = {};\nfor (const [key, value] of Object.entries(rawImpacts)) {\n  impacts[key] = normalizeImpactRepo(value);\n}\n\nconst criteriaMapped = [];\nconst repoRisks = [];\nconst repoDoubts = [];\nfor (const [repoName, info] of Object.entries(impacts)) {\n  const impactInfo = asObject(info);\n  const changes = asArray(impactInfo.mudancas);\n  const riscos = asArray(impactInfo.riscos);\n  const duvidas = asArray(impactInfo.duvidas);\n\n  for (const r of riscos) {\n    if (r) repoRisks.push(String(r));\n  }\n\n  for (const d of duvidas) {\n    if (d) repoDoubts.push(String(d));\n  }\n\n  for (const change of changes) {\n    const c = asObject(change);\n    const criterios = asArray(c.criterios_aceite);\n    const testes = asArray(c.testes);\n    for (const criterio of criterios) {\n      criteriaMapped.push({\n        criterio: String(criterio || '').trim(),\n        repos: [repoName],\n        teste_sugerido: String(testes[0] || '').trim()\n      });\n    }\n  }\n}\n\nconst normalized = {\n  resumo: first(parsed?.resumo, parsed?.summary, parsed?.executive_summary, parsed?.overview, ''),\n  viabilidade: asObject(first(parsed?.viabilidade, parsed?.viability, parsed?.feasibility, {})),\n  impactos: impacts,\n  criterios_aceite_mapeados: asArray(\n    first(\n      parsed?.criterios_aceite_mapeados,\n      parsed?.acceptance_criteria_mapped,\n      parsed?.mapped_acceptance_criteria,\n      parsed?.acceptanceCriteriaMapped,\n      criteriaMapped\n    )\n  ),\n  riscos: asArray(first(parsed?.riscos, parsed?.risks, parsed?.main_risks, repoRisks)),\n  duvidas: asArray(first(parsed?.duvidas, parsed?.questions, parsed?.open_questions, parsed?.openQuestions, repoDoubts))\n};\n\nif (!normalized.resumo && Object.keys(asObject(parsed)).length > 0) {\n  normalized.resumo = 'Analise recebida do LLM (estrutura fora do padrao esperado).';\n}\n\nreturn [{\n  ...base,\n  analysis: normalized,\n  analysis_raw: asObject(parsed),\n  llm_raw_text: cleaned\n}];\n"
      },
      "id": "parse-llm",
      "name": "Parse LLM JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -930,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "const analysisId = Number($json.impact_analysis_id);\n\nconst q = 'analysis_id=' + encodeURIComponent(String(Number.isFinite(analysisId) ? analysisId : ''));\nconst implementUrl = 'http://localhost:5678/webhook/fastroute-impact-decision?' + q;\n\nreturn [{\n  analysis_id: Number.isFinite(analysisId) ? analysisId : null,\n  aprovar_url: implementUrl,\n  mensagem: 'Analise registrada. Clique em Implementar changes para disparar o Governance.'\n}];\n"
      },
      "id": "build-links",
      "name": "Build Decision Links",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -670,
        60
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "fastroute-impact-decision",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "decision-webhook",
      "name": "Decision Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1700,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "const q = $json.query || {};\n\nconst toSafeNumber = (value) => {\n  if (value === undefined || value === null) return NaN;\n  const s = String(value).replace(/^\\uFEFF/, '').trim();\n  if (!s) return NaN;\n  const n = Number(s);\n  return Number.isFinite(n) ? n : NaN;\n};\n\nconst analysisId = toSafeNumber(q.analysis_id ?? q.impact_analysis_id ?? q.id);\n\nreturn [{\n  approved: Number.isFinite(analysisId),\n  analysis_id: Number.isFinite(analysisId) ? analysisId : null,\n  owner: 'oliversoft-tech',\n  repo: 'fastroute-changemanagement',\n  github_token: 'COLE_SEU_GITHUB_TOKEN_AQUI',\n  deploy_api: false,\n  domain_ref: 'main',\n  api_ref: 'main',\n  mobile_ref: 'main',\n  mobile_profile: 'preview',\n  parse_error: Number.isFinite(analysisId) ? null : 'analysis_id invalido ou ausente no querystring'\n}];\n"
      },
      "id": "parse-decision",
      "name": "Parse Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1450,
        440
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.approved}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "approved-if",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1190,
        440
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{$json.owner}}/{{$json.repo}}/dispatches",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$json.github_token}}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"event_type\":\"governance-release\",\"client_payload\":{\"domain_ref\":$json.domain_ref,\"api_ref\":$json.api_ref,\"mobile_ref\":$json.mobile_ref,\"mobile_profile\":$json.mobile_profile,\"run_release\":true,\"deploy_api\":$json.deploy_api,\"impact_analysis\":$json.impact_analysis}}",
        "options": {}
      },
      "id": "dispatch-governance",
      "name": "Dispatch Governance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -930,
        340
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "approved"
            },
            {
              "name": "message",
              "value": "Governance Orchestrator disparado com sucesso."
            }
          ]
        },
        "options": {}
      },
      "id": "approved-response",
      "name": "Approved Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -670,
        340
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "rejected"
            },
            {
              "name": "message",
              "value": "Alteracao rejeitada. Governance Orchestrator nao foi disparado."
            }
          ]
        },
        "options": {}
      },
      "id": "rejected-response",
      "name": "Rejected Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -930,
        560
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "respond-decision",
      "name": "Respond Decision",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -410,
        440
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.user_prompt}}",
        "hasOutputParser": false,
        "messages": {
          "messageValues": [
            {
              "message": "={{$json.system_prompt}}"
            }
          ]
        },
        "batching": {}
      },
      "id": "basic-llm-chain",
      "name": "Basic LLM Chain (FastRoute Skill)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -1190,
        60
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-5-sonnet-20241022"
        },
        "options": {
          "temperature": 0.1
        }
      },
      "id": "openai-chat-model",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        -1210,
        260
      ]
    },
    {
      "id": "98ffbf4c-e149-4f3c-8298-6c3b594be190",
      "name": "Insert Impact Analysis",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -3400,
        16
      ],
      "parameters": {
        "resource": "row",
        "operation": "insert",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "impact_analysis"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "change_summary": "={{$json.analysis?.resumo || $json.analysis?.summary || 'Sem resumo'}}",
            "complexity_level": "={{$json.analysis?.viabilidade?.nivel || $json.analysis?.viability?.level || 'Media'}}"
          }
        }
      }
    },
    {
      "id": "da807d30-c2a0-4ab6-9d74-8acfb68cf7fb",
      "name": "Load Repos Table",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -3180,
        16
      ],
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "repos"
        },
        "returnAll": true,
        "options": {}
      }
    },
    {
      "id": "1fde8a70-9efb-42bd-84b1-670bc73c1689",
      "name": "Build Change Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2960,
        16
      ],
      "parameters": {
        "jsCode": "const base = $items('Parse LLM JSON', 0, 0)?.[0]?.json || {};\nconst impactInsert = $items('Insert Impact Analysis', 0, 0)?.[0]?.json || {};\nconst analysis = base.analysis || {};\nconst impacts = analysis.impactos || analysis.impacts || {};\nconst analysisId = impactInsert.id || null;\n\nconst normalize = (v) => String(v || '')\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .toLowerCase()\n  .replace(/[_\\s]+/g, '-')\n  .trim();\n\nconst asObj = (v) => (v && typeof v === 'object' && !Array.isArray(v) ? v : {});\nconst toArray = (v) => {\n  if (Array.isArray(v)) return v;\n  if (v === undefined || v === null || v === '') return [];\n  return [v];\n};\n\nconst toSafeNumber = (value) => {\n  if (value === undefined || value === null) return NaN;\n  const s = String(value).replace(/^\\uFEFF/, '').trim();\n  if (!s) return NaN;\n  const n = Number(s);\n  return Number.isFinite(n) ? n : NaN;\n};\n\nconst normalizeChange = (change) => {\n  if (typeof change === 'string') {\n    return {\n      descricao: change,\n      testes: [],\n      criterios_aceite: []\n    };\n  }\n\n  const c = asObj(change);\n  return {\n    descricao: String(c.descricao || c.desc || c.description || '').trim(),\n    testes: toArray(c.testes || c.tests || c.test_steps).map((x) => String(x || '').trim()).filter(Boolean),\n    criterios_aceite: toArray(c.criterios_aceite || c.acceptance_criterias || c.acceptance_criteria).map((x) => String(x || '').trim()).filter(Boolean)\n  };\n};\n\nconst impactByKey = new Map(\n  Object.entries(asObj(impacts)).map(([k, v]) => [normalize(k), asObj(v)])\n);\n\nconst findImpactForRepo = (repoName) => {\n  const n = normalize(repoName);\n  const candidates = [n, n.replaceAll('_', '-'), n.replaceAll('-', '_')];\n\n  if (n.includes('domain')) candidates.push('fastroute-domain', 'domain');\n  if (n.includes('api')) candidates.push('fastroute-api', 'fastroute_api', 'api');\n  if (n.includes('mobile')) candidates.push('fastroute-mobile-hybrid', 'mobile');\n\n  for (const c of candidates) {\n    const hit = impactByKey.get(normalize(c));\n    if (hit) return hit;\n  }\n\n  return {};\n};\n\nconst repos = $input.all().map((i) => i.json).filter((r) => r && r.name);\nconst out = [];\n\nfor (const repo of repos) {\n  const repoId = [repo.repo_id, repo.id, repo['\\uFEFFid']]\n    .map(toSafeNumber)\n    .find((n) => Number.isFinite(n));\n\n  if (!Number.isFinite(repoId)) {\n    continue;\n  }\n\n  const impactInfo = asObj(findImpactForRepo(repo.name));\n  const impacted = impactInfo.impacto === true || impactInfo.impact === true || impactInfo.has_impact === true;\n  if (!impacted) continue;\n\n  const changes = toArray(impactInfo.mudancas || impactInfo.changes).map(normalizeChange);\n  const changeRisks = toArray(impactInfo.riscos || impactInfo.risks).map((x) => String(x || '').trim()).filter(Boolean);\n  const changeDoubts = toArray(impactInfo.duvidas || impactInfo.doubts).map((x) => String(x || '').trim()).filter(Boolean);\n\n  const normalizedChanges = changes.length > 0\n    ? changes\n    : [{\n        descricao: analysisId\n          ? '[impact:' + analysisId + '] Mudanca sem detalhamento fornecido pelo LLM'\n          : 'Mudanca sem detalhamento fornecido pelo LLM',\n        testes: [],\n        criterios_aceite: []\n      }];\n\n  for (const change of normalizedChanges) {\n    const desc = String(change.descricao || '').trim() || 'Mudanca sem descricao';\n    const criteria = toArray(change.criterios_aceite).map((x) => String(x || '').trim()).filter(Boolean);\n    const summaryBase = analysisId ? '[impact:' + analysisId + '] ' + desc : desc;\n    const summary = criteria.length > 0\n      ? summaryBase + ' | criterios_aceite: ' + criteria.join(' | ')\n      : summaryBase;\n\n    out.push({\n      repo_id: repoId,\n      repo_name: repo.name,\n      change_summary: summary,\n      test_steps: toArray(change.testes).map((x) => String(x || '').trim()).filter(Boolean),\n      acceptance_criteria: criteria,\n      change_risks: changeRisks,\n      change_doubts: changeDoubts,\n      impact_analysis_id: analysisId,\n    });\n  }\n}\n\nif (out.length === 0) {\n  return [{ json: { skip_repo_persistence: true } }];\n}\n\nreturn out.map((json) => ({ json }));\n"
      }
    },
    {
      "id": "e2e44c45-ca90-460d-a10d-25c9c973add2",
      "name": "Has Repo Changes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2740,
        16
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.skip_repo_persistence === true}}",
              "operation": "isFalse"
            }
          ]
        }
      }
    },
    {
      "id": "b55c471c-2ad8-471e-989e-5d3991e279a7",
      "name": "Upsert Change In Repo",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -2520,
        -100
      ],
      "parameters": {
        "resource": "row",
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "changes_in_repo"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "repo_id",
              "condition": "eq",
              "keyValue": "={{String($json.repo_id)}}"
            },
            {
              "keyName": "change_summary",
              "condition": "eq",
              "keyValue": "={{$json.change_summary}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "repo_id": "={{Number($json.repo_id)}}",
            "change_summary": "={{$json.change_summary}}"
          }
        },
        "options": {}
      }
    },
    {
      "id": "e0f024df-1ba3-4436-b4ee-bef9a25972a4",
      "name": "Build Test Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2300,
        -100
      ],
      "parameters": {
        "jsCode": "const insertedChanges = $input.all();\nif (insertedChanges.length === 0) {\n  return [{ json: { skip_test_persistence: true } }];\n}\n\nconst sourceRows = $items('Build Change Rows', 0, 0).map((i) => i.json || {});\nconst makeKey = (repoId, changeSummary) => Number(repoId) + '::' + String(changeSummary || '').trim();\n\nconst sourceByKey = new Map();\nfor (const source of sourceRows) {\n  sourceByKey.set(makeKey(source.repo_id, source.change_summary), source);\n}\n\nconst out = [];\nfor (const item of insertedChanges) {\n  const inserted = item.json || {};\n  const key = makeKey(inserted.repo_id, inserted.change_summary);\n  const source = sourceByKey.get(key);\n\n  const steps = Array.isArray(source?.test_steps)\n    ? source.test_steps.map((x) => String(x || '').trim()).filter(Boolean)\n    : [];\n\n  if (steps.length === 0) {\n    continue;\n  }\n\n  out.push({\n    json: {\n      change_id: Number(inserted.id),\n      change_summary: String(inserted.change_summary || ''),\n      test_steps: steps,\n    },\n  });\n}\n\nif (out.length === 0) {\n  return [{ json: { skip_test_persistence: true } }];\n}\n\nreturn out;\n"
      }
    },
    {
      "id": "79e94bce-6bff-4d22-b68c-abe94201a517",
      "name": "Has Tests?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2080,
        -100
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.skip_test_persistence === true}}",
              "operation": "isFalse"
            }
          ]
        }
      }
    },
    {
      "id": "a976b749-0c24-453e-94c1-c71a3f150b27",
      "name": "Insert Tests For Change",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1860,
        -220
      ],
      "parameters": {
        "resource": "row",
        "operation": "insert",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "testsuites_for_change"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "change_id": "={{Number($json.change_id)}}"
          }
        },
        "options": {}
      }
    },
    {
      "id": "97612b7e-7c10-4e32-bcf9-6e315ae0ace2",
      "name": "Build Step Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1640,
        -220
      ],
      "parameters": {
        "jsCode": "const insertedTests = $input.all().map((i) => i.json).filter((r) => r && r.id !== undefined && r.change_id !== undefined);\nif (insertedTests.length === 0) {\n  return [];\n}\n\nconst sourceTests = $items('Build Test Rows', 0, 0).map((i) => i.json || {});\nconst stepsByChangeId = new Map();\n\nfor (const source of sourceTests) {\n  const changeId = String(source.change_id);\n  const steps = Array.isArray(source.test_steps)\n    ? source.test_steps.map((x) => String(x || '').trim()).filter(Boolean)\n    : [];\n\n  if (!stepsByChangeId.has(changeId)) {\n    stepsByChangeId.set(changeId, steps);\n  }\n}\n\nconst out = [];\nfor (const inserted of insertedTests) {\n  const changeId = String(inserted.change_id);\n  const steps = stepsByChangeId.get(changeId) || [];\n\n  for (const description of steps) {\n    out.push({\n      json: {\n        testsuite_id: Number(inserted.id),\n        description,\n      },\n    });\n  }\n}\n\nreturn out;\n"
      }
    },
    {
      "id": "20bc43f1-8fb9-445a-88f5-ee805f359632",
      "name": "Insert Steps For Test",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1420,
        -220
      ],
      "parameters": {
        "resource": "row",
        "operation": "insert",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "tests_for_testsuite"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "testsuite_id": "={{Number($json.testsuite_id)}}",
            "description": "={{$json.description}}"
          }
        },
        "options": {}
      }
    },
    {
      "id": "7322f229-0064-49e1-b689-533ec521da74",
      "name": "Finalize Analysis Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        16
      ],
      "parameters": {
        "jsCode": "const base = $items('Parse LLM JSON', 0, 0)?.[0]?.json || {};\nconst impactInsert = $items('Insert Impact Analysis', 0, 0)?.[0]?.json || {};\n\nreturn [{\n  json: {\n    ...base,\n    impact_analysis_id: impactInsert.id || null,\n    persisted_at: new Date().toISOString(),\n  }\n}];"
      }
    },
    {
      "id": "decision-load-impact-analysis",
      "name": "Decision Load Impact Analysis",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1220,
        620
      ],
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "impact_analysis"
        },
        "returnAll": true,
        "options": {}
      }
    },
    {
      "id": "decision-load-repos",
      "name": "Decision Load Repos",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -990,
        620
      ],
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "repos"
        },
        "returnAll": true,
        "options": {}
      }
    },
    {
      "id": "decision-load-changes",
      "name": "Decision Load Changes",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -760,
        620
      ],
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "changes_in_repo"
        },
        "returnAll": true,
        "options": {}
      }
    },
    {
      "id": "decision-load-testsuites",
      "name": "Decision Load Testsuites",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -530,
        620
      ],
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "testsuites_for_change"
        },
        "returnAll": true,
        "options": {}
      }
    },
    {
      "id": "decision-load-teststeps",
      "name": "Decision Load Tests For Testsuite",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -300,
        620
      ],
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "tests_for_testsuite"
        },
        "returnAll": true,
        "options": {}
      }
    },
    {
      "id": "decision-build-impact-payload",
      "name": "Decision Build Impact Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        620
      ],
      "parameters": {
        "jsCode": "const decision = $items('Parse Decision', 0, 0)?.[0]?.json || {};\n\nconst analysisId = Number(decision.analysis_id);\nif (!Number.isFinite(analysisId)) {\n  return [{\n    approved: false,\n    ...decision,\n    impact_analysis: {\n      parse_error: true,\n      observacao: 'analysis_id invalido ou ausente.'\n    }\n  }];\n}\n\nconst uniqById = (rows) => {\n  const out = new Map();\n  for (const row of rows) {\n    const key = row && row.id !== undefined ? String(row.id) : JSON.stringify(row);\n    if (!out.has(key)) out.set(key, row);\n  }\n  return [...out.values()];\n};\n\nconst impactRows = uniqById($items('Decision Load Impact Analysis', 0, 0).map((i) => i.json || {}));\nconst repoRows = uniqById($items('Decision Load Repos', 0, 0).map((i) => i.json || {}));\nconst changeRows = uniqById($items('Decision Load Changes', 0, 0).map((i) => i.json || {}));\nconst testsuiteRows = uniqById($items('Decision Load Testsuites', 0, 0).map((i) => i.json || {}));\nconst testStepRows = uniqById($items('Decision Load Tests For Testsuite', 0, 0).map((i) => i.json || {}));\n\nconst impactRow = impactRows.find((r) => Number(r.id) === analysisId);\nif (!impactRow) {\n  return [{\n    approved: false,\n    ...decision,\n    impact_analysis: {\n      not_found: true,\n      observacao: 'Nao foi encontrada linha em impact_analysis para o analysis_id informado.'\n    }\n  }];\n}\n\nconst repoNameById = new Map(\n  repoRows\n    .filter((r) => r && r.id !== undefined && r.name)\n    .map((r) => [Number(r.id), String(r.name)])\n);\n\nconst prefix = '[impact:' + analysisId + ']';\nconst impactedChanges = changeRows.filter((r) => String(r.change_summary || '').includes(prefix));\n\nconst impacts = {};\nfor (const [id, name] of repoNameById.entries()) {\n  impacts[name] = { impacto: false, mudancas: [], riscos: [], duvidas: [] };\n}\n\nconst criteriaMapped = [];\n\nfor (const change of impactedChanges) {\n  const repoId = Number(change.repo_id);\n  const repoName = repoNameById.get(repoId) || ('repo-' + String(repoId));\n  if (!impacts[repoName]) {\n    impacts[repoName] = { impacto: false, mudancas: [], riscos: [], duvidas: [] };\n  }\n\n  let summary = String(change.change_summary || '').trim();\n  if (summary.includes(prefix)) {\n    summary = summary.replace(prefix, '').trim();\n  }\n\n  const marker = '| criterios_aceite:';\n  let descricao = summary;\n  let criterios = [];\n  if (summary.includes(marker)) {\n    const parts = summary.split(marker);\n    descricao = String(parts.shift() || '').trim();\n    criterios = parts.join(marker).split('|').map((x) => String(x || '').trim()).filter(Boolean);\n  }\n\n  const suites = testsuiteRows.filter((t) => Number(t.change_id) === Number(change.id));\n  const suiteIds = new Set(suites.map((s) => Number(s.id)).filter((id) => Number.isFinite(id)));\n\n  const tests = testStepRows\n    .filter((s) => suiteIds.has(Number(s.testsuite_id)))\n    .map((s) => String(s.description || '').trim())\n    .filter(Boolean);\n\n  const uniqueTests = [...new Set(tests)];\n\n  impacts[repoName].impacto = true;\n  impacts[repoName].mudancas.push({\n    descricao: descricao || 'Mudanca sem descricao',\n    testes: uniqueTests,\n    criterios_aceite: criterios,\n  });\n\n  for (const criterio of criterios) {\n    criteriaMapped.push({\n      criterio,\n      repos: [repoName],\n      teste_sugerido: uniqueTests[0] || '',\n    });\n  }\n}\n\nif (!impacts.infra) impacts.infra = { impacto: false, itens: [] };\nif (!impacts.integracoes_externas) impacts.integracoes_externas = { impacto: false, itens: [] };\n\nconst impactAnalysis = {\n  resumo: String(impactRow.change_summary || 'Sem resumo'),\n  viabilidade: {\n    nivel: String(impactRow.complexity_level || 'Media'),\n    justificativa: 'Reconstruida a partir das data-tables via analysis_id.'\n  },\n  impactos: impacts,\n  criterios_aceite_mapeados: criteriaMapped,\n  riscos: [],\n  duvidas: [],\n  source_analysis_id: analysisId,\n};\n\nreturn [{\n  approved: true,\n  owner: decision.owner,\n  repo: decision.repo,\n  github_token: decision.github_token,\n  deploy_api: decision.deploy_api,\n  domain_ref: decision.domain_ref,\n  api_ref: decision.api_ref,\n  mobile_ref: decision.mobile_ref,\n  mobile_profile: decision.mobile_profile,\n  impact_analysis: impactAnalysis\n}];\n"
      }
    },
    {
      "id": "9682974f-a168-48ea-b659-6590817695da",
      "name": "Clear Impact Analysis",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -3320,
        20
      ],
      "parameters": {
        "resource": "row",
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "impact_analysis"
        },
        "matchType": "anyCondition",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "isNotEmpty"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "e3f469d2-a19c-4dd1-8663-29ed73118fe4",
      "name": "Clear Changes In Repo",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -3080,
        20
      ],
      "parameters": {
        "resource": "row",
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "changes_in_repo"
        },
        "matchType": "anyCondition",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "isNotEmpty"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "522a6141-a7d4-4339-91ea-06221e3390ae",
      "name": "Clear Testsuites For Change",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -2840,
        20
      ],
      "parameters": {
        "resource": "row",
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "testsuites_for_change"
        },
        "matchType": "anyCondition",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "isNotEmpty"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "f53c684f-cfc0-46b4-916a-2e4ebc68aa15",
      "name": "Clear Tests For Testsuite",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -2600,
        20
      ],
      "parameters": {
        "resource": "row",
        "operation": "deleteRows",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "tests_for_testsuite"
        },
        "matchType": "anyCondition",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "isNotEmpty"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "51c67e62-1208-4d78-b1ab-9cb01befe828",
      "name": "Ensure Valid Repo Id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2360,
        -100
      ],
      "parameters": {
        "jsCode": "const toSafeNumber = (value) => {\n  if (value === undefined || value === null) return NaN;\n  const s = String(value).replace(/^\\uFEFF/, '').trim();\n  if (!s) return NaN;\n  const n = Number(s);\n  return Number.isFinite(n) ? n : NaN;\n};\n\nconst repoId = toSafeNumber($json.repo_id);\nif (!Number.isFinite(repoId)) {\n  return [];\n}\n\nreturn [{\n  json: {\n    ...$json,\n    repo_id: repoId,\n  },\n}];\n"
      }
    }
  ],
  "connections": {
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Clear Impact Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain (FastRoute Skill)": {
      "main": [
        [
          {
            "node": "Parse LLM JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse LLM JSON": {
      "main": [
        [
          {
            "node": "Insert Impact Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decision Webhook": {
      "main": [
        [
          {
            "node": "Parse Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Decision": {
      "main": [
        [
          {
            "node": "Decision Load Impact Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved?": {
      "main": [
        [
          {
            "node": "Dispatch Governance",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rejected Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Governance": {
      "main": [
        [
          {
            "node": "Approved Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved Response": {
      "main": [
        [
          {
            "node": "Respond Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rejected Response": {
      "main": [
        [
          {
            "node": "Respond Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Impact Analysis": {
      "main": [
        [
          {
            "node": "Load Repos Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Repos Table": {
      "main": [
        [
          {
            "node": "Build Change Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Change Rows": {
      "main": [
        [
          {
            "node": "Has Repo Changes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Repo Changes?": {
      "main": [
        [
          {
            "node": "Ensure Valid Repo Id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Analysis Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Change In Repo": {
      "main": [
        [
          {
            "node": "Build Test Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Test Rows": {
      "main": [
        [
          {
            "node": "Has Tests?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Tests?": {
      "main": [
        [
          {
            "node": "Insert Tests For Change",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finalize Analysis Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Tests For Change": {
      "main": [
        [
          {
            "node": "Build Step Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Step Rows": {
      "main": [
        [
          {
            "node": "Insert Steps For Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Steps For Test": {
      "main": [
        [
          {
            "node": "Finalize Analysis Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Analysis Context": {
      "main": [
        [
          {
            "node": "Build Decision Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain (FastRoute Skill)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Decision Load Impact Analysis": {
      "main": [
        [
          {
            "node": "Decision Load Repos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decision Load Repos": {
      "main": [
        [
          {
            "node": "Decision Load Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decision Load Changes": {
      "main": [
        [
          {
            "node": "Decision Load Testsuites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decision Load Testsuites": {
      "main": [
        [
          {
            "node": "Decision Load Tests For Testsuite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decision Load Tests For Testsuite": {
      "main": [
        [
          {
            "node": "Decision Build Impact Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decision Build Impact Payload": {
      "main": [
        [
          {
            "node": "Approved?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Impact Analysis": {
      "main": [
        [
          {
            "node": "Clear Changes In Repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Changes In Repo": {
      "main": [
        [
          {
            "node": "Clear Testsuites For Change",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Testsuites For Change": {
      "main": [
        [
          {
            "node": "Clear Tests For Testsuite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Tests For Testsuite": {
      "main": [
        [
          {
            "node": "Basic LLM Chain (FastRoute Skill)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ensure Valid Repo Id": {
      "main": [
        [
          {
            "node": "Upsert Change In Repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "versionId": "llm-only-v1"
}
