docs/n8n/impact-governance-webhook-flow.json
{
  "active": false,
  "name": "FastRoute Governance Decision (Webhook)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "fastroute-impact-decision",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "decision-webhook",
      "name": "Decision Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1700,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "const q = $json.query || {};\n\nconst toSafeNumber = (value) => {\n  if (value === undefined || value === null) return NaN;\n  const s = String(value).replace(/^\\uFEFF/, '').trim();\n  if (!s) return NaN;\n  const n = Number(s);\n  return Number.isFinite(n) ? n : NaN;\n};\n\nconst analysisId = toSafeNumber(q.analysis_id ?? q.impact_analysis_id ?? q.id);\n\nreturn [{\n  approved: Number.isFinite(analysisId),\n  analysis_id: Number.isFinite(analysisId) ? analysisId : null,\n  owner: 'oliversoft-tech',\n  repo: 'fastroute-changemanagement',\n  github_token: 'COLE_SEU_GITHUB_TOKEN_AQUI',\n  deploy_api: false,\n  domain_ref: 'main',\n  api_ref: 'main',\n  mobile_ref: 'main',\n  mobile_profile: 'preview',\n  parse_error: Number.isFinite(analysisId) ? null : 'analysis_id invalido ou ausente no querystring'\n}];\n"
      },
      "id": "parse-decision",
      "name": "Parse Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1450,
        440
      ]
    },
    {
      "id": "decision-load-impact-analysis",
      "name": "Decision Load Impact Analysis",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1220,
        620
      ],
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "impact_analysis"
        },
        "returnAll": true,
        "options": {}
      }
    },
    {
      "id": "decision-load-repos",
      "name": "Decision Load Repos",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -990,
        620
      ],
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "repos"
        },
        "returnAll": true,
        "options": {}
      }
    },
    {
      "id": "decision-load-changes",
      "name": "Decision Load Changes",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -760,
        620
      ],
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "changes_in_repo"
        },
        "returnAll": true,
        "options": {}
      }
    },
    {
      "id": "decision-load-testsuites",
      "name": "Decision Load Testsuites",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -530,
        620
      ],
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "testsuites_for_change"
        },
        "returnAll": true,
        "options": {}
      }
    },
    {
      "id": "decision-load-teststeps",
      "name": "Decision Load Tests For Testsuite",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -300,
        620
      ],
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "tests_for_testsuite"
        },
        "returnAll": true,
        "options": {}
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{$item(0).$node[\"Parse Decision\"].json.owner || \"oliversoft-tech\"}}/{{$item(0).$node[\"Parse Decision\"].json.repo || \"fastroute-changemanagement\"}}/releases",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$item(0).$node[\"Parse Decision\"].json.github_token}}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  tag_name: \"impact-analysis-\" + $item(0).$node[\"Parse Decision\"].json.analysis_id + \"-\" + $execution.id,\n  name: \"Impact Analysis \" + $item(0).$node[\"Parse Decision\"].json.analysis_id,\n  body: \"Release automatica apos Decision Load Tests For Testsuite1. Analysis ID: \" + $item(0).$node[\"Parse Decision\"].json.analysis_id,\n  target_commitish: \"main\",\n  draft: false,\n  prerelease: false,\n  generate_release_notes: true\n}) }}",
        "options": {}
      },
      "id": "create-github-release",
      "name": "Create GitHub Release",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -190,
        620
      ]
    },
    {
      "id": "decision-build-impact-payload",
      "name": "Decision Build Impact Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -80,
        620
      ],
      "parameters": {
        "jsCode": "const decision = $items('Parse Decision', 0, 0)?.[0]?.json || {};\n\nconst analysisId = Number(decision.analysis_id);\nif (!Number.isFinite(analysisId)) {\n  return [{\n    approved: false,\n    ...decision,\n    impact_analysis: {\n      parse_error: true,\n      observacao: 'analysis_id invalido ou ausente.'\n    }\n  }];\n}\n\nconst uniqById = (rows) => {\n  const out = new Map();\n  for (const row of rows) {\n    const key = row && row.id !== undefined ? String(row.id) : JSON.stringify(row);\n    if (!out.has(key)) out.set(key, row);\n  }\n  return [...out.values()];\n};\n\nconst impactRows = uniqById($items('Decision Load Impact Analysis', 0, 0).map((i) => i.json || {}));\nconst repoRows = uniqById($items('Decision Load Repos', 0, 0).map((i) => i.json || {}));\nconst changeRows = uniqById($items('Decision Load Changes', 0, 0).map((i) => i.json || {}));\nconst testsuiteRows = uniqById($items('Decision Load Testsuites', 0, 0).map((i) => i.json || {}));\nconst testStepRows = uniqById($items('Decision Load Tests For Testsuite', 0, 0).map((i) => i.json || {}));\n\nconst impactRow = impactRows.find((r) => Number(r.id) === analysisId);\nif (!impactRow) {\n  return [{\n    approved: false,\n    ...decision,\n    impact_analysis: {\n      not_found: true,\n      observacao: 'Nao foi encontrada linha em impact_analysis para o analysis_id informado.'\n    }\n  }];\n}\n\nconst repoNameById = new Map(\n  repoRows\n    .filter((r) => r && r.id !== undefined && r.name)\n    .map((r) => [Number(r.id), String(r.name)])\n);\n\nconst prefix = '[impact:' + analysisId + ']';\nconst impactedChanges = changeRows.filter((r) => String(r.change_summary || '').includes(prefix));\n\nconst impacts = {};\nfor (const [id, name] of repoNameById.entries()) {\n  impacts[name] = { impacto: false, mudancas: [], riscos: [], duvidas: [] };\n}\n\nconst criteriaMapped = [];\n\nfor (const change of impactedChanges) {\n  const repoId = Number(change.repo_id);\n  const repoName = repoNameById.get(repoId) || ('repo-' + String(repoId));\n  if (!impacts[repoName]) {\n    impacts[repoName] = { impacto: false, mudancas: [], riscos: [], duvidas: [] };\n  }\n\n  let summary = String(change.change_summary || '').trim();\n  if (summary.includes(prefix)) {\n    summary = summary.replace(prefix, '').trim();\n  }\n\n  const marker = '| criterios_aceite:';\n  let descricao = summary;\n  let criterios = [];\n  if (summary.includes(marker)) {\n    const parts = summary.split(marker);\n    descricao = String(parts.shift() || '').trim();\n    criterios = parts.join(marker).split('|').map((x) => String(x || '').trim()).filter(Boolean);\n  }\n\n  const suites = testsuiteRows.filter((t) => Number(t.change_id) === Number(change.id));\n  const suiteIds = new Set(suites.map((s) => Number(s.id)).filter((id) => Number.isFinite(id)));\n\n  const tests = testStepRows\n    .filter((s) => suiteIds.has(Number(s.testsuite_id)))\n    .map((s) => String(s.description || '').trim())\n    .filter(Boolean);\n\n  const uniqueTests = [...new Set(tests)];\n\n  impacts[repoName].impacto = true;\n  impacts[repoName].mudancas.push({\n    descricao: descricao || 'Mudanca sem descricao',\n    testes: uniqueTests,\n    criterios_aceite: criterios,\n  });\n\n  for (const criterio of criterios) {\n    criteriaMapped.push({\n      criterio,\n      repos: [repoName],\n      teste_sugerido: uniqueTests[0] || '',\n    });\n  }\n}\n\nif (!impacts.infra) impacts.infra = { impacto: false, itens: [] };\nif (!impacts.integracoes_externas) impacts.integracoes_externas = { impacto: false, itens: [] };\n\nconst impactAnalysis = {\n  resumo: String(impactRow.change_summary || 'Sem resumo'),\n  viabilidade: {\n    nivel: String(impactRow.complexity_level || 'Media'),\n    justificativa: 'Reconstruida a partir das data-tables via analysis_id.'\n  },\n  impactos: impacts,\n  criterios_aceite_mapeados: criteriaMapped,\n  riscos: [],\n  duvidas: [],\n  source_analysis_id: analysisId,\n};\n\nreturn [{\n  approved: true,\n  owner: decision.owner,\n  repo: decision.repo,\n  github_token: decision.github_token,\n  deploy_api: decision.deploy_api,\n  domain_ref: decision.domain_ref,\n  api_ref: decision.api_ref,\n  mobile_ref: decision.mobile_ref,\n  mobile_profile: decision.mobile_profile,\n  impact_analysis: impactAnalysis\n}];\n"
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{$json.owner}}/{{$json.repo}}/dispatches",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$json.github_token}}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "X-GitHub-Api-Version",
              "value": "2022-11-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  event_type: 'governance-release',\n  client_payload: {\n    domain_ref: $json.domain_ref || 'main',\n    api_ref: $json.api_ref || 'main',\n    mobile_ref: $json.mobile_ref || 'main',\n    mobile_profile: $json.mobile_profile || 'preview',\n    run_release: true,\n    deploy_api: !!$json.deploy_api,\n    impact_analysis: $json.impact_analysis || {}\n  }\n}) }}",
        "options": {}
      },
      "id": "dispatch-governance",
      "name": "Dispatch Governance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -930,
        340
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "status",
              "value": "approved"
            },
            {
              "name": "message",
              "value": "Governance Orchestrator disparado com sucesso."
            }
          ]
        },
        "options": {}
      },
      "id": "approved-response",
      "name": "Approved Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -670,
        340
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "id": "respond-decision",
      "name": "Respond Decision",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -410,
        440
      ]
    }
  ],
  "connections": {
    "Decision Webhook": {
      "main": [
        [
          {
            "node": "Parse Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Decision": {
      "main": [
        [
          {
            "node": "Decision Load Impact Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decision Load Impact Analysis": {
      "main": [
        [
          {
            "node": "Decision Load Repos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decision Load Repos": {
      "main": [
        [
          {
            "node": "Decision Load Changes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decision Load Changes": {
      "main": [
        [
          {
            "node": "Decision Load Testsuites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decision Load Testsuites": {
      "main": [
        [
          {
            "node": "Decision Load Tests For Testsuite",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decision Load Tests For Testsuite": {
      "main": [
        [
          {
                "node": "Create GitHub Release",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
      "Create GitHub Release": {
      "main": [
        [
          {
            "node": "Decision Build Impact Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decision Build Impact Payload": {
      "main": [
        [
          {
            "node": "Dispatch Governance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dispatch Governance": {
      "main": [
        [
          {
            "node": "Approved Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved Response": {
      "main": [
        [
          {
            "node": "Respond Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "llm-only-v1"
}
